<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>time</key>
			<string>16:00</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>time</key>
			<string>16:00</string>
			<key>avator</key>
			<string>avator2.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>time</key>
			<string>16:00</string>
			<key>avator</key>
			<string>avator4.png</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>b1</string>
			<key>bio</key>
			<string>super stat 1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>time</key>
			<string>16:00</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>b2</string>
			<key>bio</key>
			<string>super stat 1</string>
			<key>photo</key>
			<string>avator5.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>time</key>
			<string>16:00</string>
			<key>avator</key>
			<string>avator6.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>b3</string>
			<key>bio</key>
			<string>super stat 1</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator7.png</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>time</key>
			<string>16:00</string>
			<key>avator</key>
			<string>avator8.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>I</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>a1</string>
			<key>bio</key>
			<string>super stat a1</string>
			<key>photo</key>
			<string>avator1.png</string>
			<key>location</key>
			<string>school</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a2</string>
			<key>bio</key>
			<string>super stat a2 1</string>
			<key>photo</key>
			<string>avator2.png</string>
			<key>location</key>
			<string>elec</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>a3</string>
			<key>bio</key>
			<string>super stat a31</string>
			<key>photo</key>
			<string>avator3.png</string>
			<key>location</key>
			<string>i</string>
			<key>date</key>
			<string>10.2</string>
			<key>avator</key>
			<string>avator1.png</string>
		</dict>
	</array>
</dict>
</plist>
